html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.background-image {
  background-image: url("/WarriorCourts.jpg");
}

.custom-navbar {
  background-color: #4f764a;  
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: rgb(0, 0, 0) !important;
  font-size: 20px;
}

.custom-navbar .nav-link:hover {
  color: #ffcc00 !important; 
}

.custom-footer {
  background-color: #4f764a; 
  color: rgb(0, 0, 0);
}

.custom-footer a {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.custom-footer a:hover {
  color: #ffcc00;
}

.custom-footer h5 {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.custom-footer p {
  margin-bottom: 0.3rem;
  font-size: 15px;
}

p {
  font-size: 25px; 
}

h2 {
  font-size: 40px;
}

