html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.background-image {
  background-image: url("/WarriorCourts.jpg");
}

.custom-navbar {
  background-color: #4f764a;  
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: white !important;
}

.custom-navbar .nav-link:hover {
  color: #ffcc00 !important; /* optional hover color */
}