html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.background-image {
  background-image: url("/WarriorCourts.jpg");
}

.custom-navbar {
  background-color: #41633d;  
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: rgb(0, 0, 0) !important;
  font-size: 20px;
}

.custom-navbar .nav-link:hover {
  color: #ffcc00 !important; 
}

.custom-footer {
  background-color:  #41633d;  
  color: rgb(0, 0, 0);
}

.custom-footer a {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.custom-footer a:hover {
  color: #ffcc00;
}

.custom-footer h5 {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.custom-footer p {
  margin-bottom: 0.3rem;
  font-size: 15px;
}

p {
  font-size: 20px; 
}


.hero-overlay {
  position: relative;
  height: 100vh; /* Adjust height as needed */
  background-image: url('/Court.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  overflow: hidden;
}

.hero-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.509); 
  z-index: 2;
}

.hero-overlay > * {
  z-index: 3; 
  position: relative;
}

.hero-overlay p {
  font-size: 40px;
  padding: 20px;
}

.hero-overlay h1 {
  font-size: 60px;
  padding: 20px;
}